@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f9fafb !important;
  color: #111827 !important;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  color-scheme: light !important;
}

main {
  background-color: #f9fafb;
  min-height: 100vh;
}
